---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Обо мне"
	description=""
	pubDate={new Date('July 01 2023')}
	updatedDate={new Date('July 01 2023')}
	heroImage="/photo.jpg"
>
	<p>
		Меня зовут Владик и я фронтендер в <a hreflang="ru" href="https://kontur.ru/">Контуре</a>.
	</p>
</Layout>
