---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<style>
	ul {
		list-style-type: '🐱';
	}

	li {
		padding: 8px;
	}

	.contacts {
		list-style-type: '';
		padding-left: 0;
		margin-top: 32px;
		display: flex;
		flex-flow: row wrap;
		gap: 32px;
	}

	.contact {
		padding: 32px;
		background-color: cornflowerblue;
		border-radius: 24px;
		margin-bottom: 16px;
		text-align: center;
		font-size: 32px;
		max-width: 33%;
		color: azure;
		text-decoration: none;
	}

	.contact:hover {
		opacity: .8;
		box-shadow: box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
	}
</style>
<!DOCTYPE html>
<html lang="ru">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h2>Темы</h2>
			<p>
				Обсуждаем
			</p>
			<ul>
				<li>
					Разработку
				</li>
				<li>
					Кино
				</li>
				<li>
					Электронику
				</li>
				<li>
					Музыку
				</li>
				<li>
					Автоспорт
				</li>
			</ul>
			<h2>Контакты</h2>
			<div class="contacts">
					<a class="contact" href="https://vk.com/vladatkishkin" hreflang="ru" target="_blank">
						ВКонтакте
					</a>
					<a class="contact" href="https://t.me/KotikVacia" hreflang="ru" target="_blank">
						Telegram
					</a>
			</div>
		</main>
		<Footer />
	</body>
</html>
